.dropzone {
	width: min-content;
	display: flex;
	padding: 2rem;
	margin-right: 1rem;
	border-radius: 1rem;
	border: 2px solid yellowgreen;
	background: greenyellow;
}

canvas {
	border: 1px solid black;
}

.column,
.row {
	display: flex;
	align-items: flex-start;
}
.column {
	flex-direction: column;
}
.row {
	flex-direction: row;
}

#output {
	color: white;
	background: gray;
	width: min-content;
}
